# Compiled class files from Java/Maven
target/
*.class

# Log files
*.log

# Package files
*.jar
*.war

# Files created by IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Files created by VS Code
.vscode/

# Files created by Eclipse
.classpath
.project
.settings/

# OS-specific files
.DS_Store
Thumbs.db